* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #000;
  font-family: 'Courier New', Courier, monospace;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: url(./images/writer.jpg) no-repeat bottom left fixed;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 45px;
}

header ul {
  display: flex;

}

header ul li {
  padding: 9px;
}

header ul li a:hover{
  color: #00004667;
}

.container {
  text-align: center;
}

.container .name h1 {
  font-weight: bolder;
  font-size: 63px;
}

.container .name h5{
  font-size: 36px;
}

#arrow {
  font-size: 36px;
  cursor: pointer;
  animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

#animation {
  transition: 300ms;
}

.rotate {
  transform: rotate(180deg);
  transition: 300ms;
}

.active {
  display: block !important;
}

#about p {
  max-width: 60%;
  margin: 0 auto;
  font-size: 18px;
  text-align: justify;
  margin-bottom: 9px;
}

.form {
  width: 40%;
  margin: 0 auto;
  margin-top: 36px;
}

.form input {
  width: 50%;
  padding: 5px 10px;
  border: none;
  border-radius: 5px 0px 0px 5px;
  margin-top: 9px;
}

.form button {
  width: 15%;
  padding: 5px 10px;
  background-color: #0000463f;
  color: #464646;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 300ms;
  border-radius: 0px 5px 5px 0px;
  margin-left: -5px;
  margin-top: 9px;
}

.form button:hover{
  background-color: #00004667;
  color: #fff;
}

footer {
  position: fixed;
  bottom: 9px;
  width: 100%;
}

footer a:hover{
  color: #00004667;
}

@media only screen and (max-width: 768px) {
  .form {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .container .name h1 {
    font-size: 45px;
  }

  .container .name h5 {
    font-size: 27px;
  }
}